<h1>Songs</h1>

<% @songs.each do |song| %>
  <div class="message">
  <h3><a href="/songs/<%= song.id %>"><%= song.song_title %> </a></h3>
    <p>
      By: <%= song.author %>
    </p>
    <p>
      <a href=<%= song.url %>><%= song.url %></a>
    </p>
  </div>
<% end %>
