  <h1>Submit a Song</h1>
 <hr/>

<% if @song.errors.any? %>
  <div>
    <strong>Some issues with your song, please fix them:</strong>
    <ul>
      <% @song.errors.full_messages.each do |song| %>
        <li><%= song %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form class="form-horizontal" method="post" action="/songs">
<fieldset>

<!-- Song Title input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput"></label>  
  <div class="col-md-6">
  <input id="textinput" name="song_title" value="<%= @song.song_title %>" type="text" placeholder="Song Title" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Author input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput"></label>  
  <div class="col-md-6">
  <input id="textinput" name="author" value="<%= @song.author %>" type="text" placeholder="Author" class="form-control input-md" required="">
    
  </div>
</div>

<!-- img_link optional input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput"></label>  
  <div class="col-md-4">
  <input id="textinput" name="img_link" value="<%= @song.img_link %>" type="text" placeholder="image url (optional)" class="form-control input-md">
    
  </div>
</div>

<!-- Url optional input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput"></label>  
  <div class="col-md-4">
  <input id="textinput" name="url" value="<%= @song.url %>" type="text" placeholder="link" class="form-control input-md">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-success">Add Song</button>
  </div>
</div>

</fieldset>
</form>
