<h2>
  Song Title: <%= @song.song_title %>
</h2>

<p>
  by: <%= @song.author  %>
</p>

<p>
  <a href=<%= @song.url %>><%= @song.url %></a>
</p>

<hr/>

<p>Other Songs:</p>
  <ol>
<% @other_songs.each do |item| %>
  <li><a href="/songs/<%= item.id %>"><%= item.song_title %></a></li>
<% end %>
  </ol>

<hr/>
<a href="/songs">Back to All Songs</a>